@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Yeseva+One&display=swap');

*{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none !important;
	color: black;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

body{
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(184,215,255,1) 0%, rgba(154,246,255,1) 100%);
	font-size: 2rem !important;
}

	nav a h1{
		color: black;
		font-weight: 500;
		font-size: 6rem;
		display: inline-block;
		width: auto;
		line-height: 1.2;
		animation-name: txtAlpha;
		animation-duration: 2.5s;
	}	
	nav div div ul{
		list-style-type: none;
		width: auto;
		white-space: nowrap;
		animation-name: txtAlpha;
		animation-duration: 2s;
	} 	
		nav div div ul li a{
			background-image: linear-gradient(currentColor, currentColor);
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-size: 0% 2px;
			transition: background-size .3s;
		} 
		#override-boostrap .nav-link:hover{
			color: white ;
			background-size: 100% 2px;
		}
	nav div div form{
		display: inline-block;
		vertical-align: middle;
		animation-name: txtAlpha;
		animation-duration: 2s;
	}

main{
	margin:1% 1.5%;
}

section article ul{
	list-style-type: square;
}
section article ul span{
	position: relative;
  	left: -6px;
}
footer{
	margin-top: 2%;
	border-right: none;
	border-left: none;
	background-color: grey;
	padding: 2%;
	width: 100%;
	display: flex;
	font-size: 2rem
}

	footer div ul{
				list-style-type: none;
				padding-left:  1%;
			}
				footer ul li{
					color: white;
				}
	footer h4{
		margin-top: 3% ;
	}

.contenedor{
	display: grid;
}
/* CLASES GENERALES */
.txtSmall{
	font-size: 1.5rem;
}
.txtSmall2{
	font-size: 2rem;
}

.txtMed{
	font-size: 2.5rem;
}

.txtMed2{
	font-size: 4rem;
}

.txtBig{
	font-size: 5rem;
}

.txtCenter{
	text-align: center;
}

.txtLeft{
	text-align: left;
}

.txtRight{
	text-align: right;
}

.txtWhite{
	color: white;
}

.txtBlack{
	color: black;
}

.bgBrown{
	background-color: #E0A367;
}

.bgWhite{
	background-color: white;
}

.bgBlack{
	background-color: black;
}
#override-boostrap .bgNormal{
	background: transparent;
}

.fontSpecial{
	font-family: 'Yeseva One', sans-serif;
	color: black;
}

.border{
	border: 2px black solid;
}

.spBorder{
	border: 2px  dashed #E0A367;
}
.noneBorder{
	border: none;
}

.margin{
	margin: 2% 0;
}

.scale:hover{
	transform: scale(1.03);
	transition: scale 3s;
}
.scale2:hover{
	transform: scale(1.08);
	transition: scale 3s;
}
.width2{
	width: 90%;
}

.div__header{
	background-color: black;
	padding: 0.5% 0 0.1% 0;
	color: white;
}
	div p{
		color: white;
	}

.header__z-index{
	z-index: 1;
}

#nav__sticky{
	border: none;
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 2;
	width: auto;
}

.form__width{
	width: 20%;
	font-size: 2rem;
}

@keyframes txtAlpha{
	from{opacity: 0;}	
	to{opacity: 1;}
}
/*grid responsive, empieza por index*/

@media (max-width: 768px){
	.div__header{
		width: 100% ;
	}
	nav a h1{
		font-size: 3rem;
	}	
	div nav form label{
		display: none;
	}
	nav form input{
		margin-bottom: 4%;
	}
	.input__lenght{
		width: 20%;
	}
	.header__carrusel img{
		width: 97%;

	}
	#articleEstuche{
		margin: 4% 1%;
	}
	.article__estucheLista{
		font-size: 1.3rem;
	}
	.article__estucheLista--padding{
		padding-right: 0;
	}
	.article__productos{
		flex-wrap: wrap;
		align-content: center;
	}
	#lente_izquierdo{
		display: inline-block;
		width: 70%;
		margin: 2% auto;
	}
	#override-boostrap .div__VerMasProd{
		width: 70%  ;
		margin: 2% auto 0 auto;
		padding: 5% 2% 0 2% ;
	}
	.div__VerMasProd p{
		font-size: 2rem;
	}
	#lente_derecho{
		display: none;
	}
	footer{
		margin-top: 5%;
		width: 100%;
		display: block;
	}
	footer div div ul li{
		font-size: 1.3rem;
	}
	footer div{
		font-size:  1.7rem;
	}
	.div__map--width{
		margin: 0 auto;
		width: 200%;
	}
	#override-boostrap .footer__img--width{
		width: 25% ; 
	}
	#override-boostrap .footer__img--margin{
		width: 30% ;
	}
	/*productos*/
	#disponibles{
		font-size: 2rem;
	}
	#dimensiones__{
		font-size: 2rem;
		margin: 0 auto;
	}
	#dimensiones__ul{
		margin-left: 2%;
		font-size: 1.7rem;
	}
	/*novedades */
	#override-boostrap .article__newsletter--responsive{
		font-size: 1.9rem;
	}
	#override-boostrap .fieldset__--margin{
		margin: 3% 10% ;
		width: 80% ;
		font-size: 1.7rem;
	}
	.article__vistazo{
		font-size: 1.9rem;
	}
	.article__lentesNuevos{
		flex-wrap: wrap;
		align-content: center;
		margin-top: 3%;
	}
	.figure__novedades{
		display: inline-block;
		width: 70%;
		margin: 0 auto 2% auto;
	}
	/* nosotros*/

	/*FAQ*/
}

@media (min-width:768px) and (max-width: 940px){
	.div__nosotros--marginFooter{
		margin-bottom: 10%;
	}
}

@media (max-width: 480px){
	#override-boostrap .boton__responsive{
		display: none  ;
	}
	.caption__margin-responsive{
		margin-top: 5% ;
	}
}
/*BEM DE INDEX*/


.article__estuche{
	width: 85%;
	margin:  3% auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	.article__imgEstuche{ 
		width: 80%;
	}
	.article__estucheLista{
		display: inline-block;
		padding-left: 7%;
	}
	.article__estucheLista--padding{
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 2px;
		transition: background-size .3s;
	}
		.article__estucheLista--padding:hover{
			background-size: 100% 2px;
		}

.article__productos{
	margin: 0.5% auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
}	
	.article__lentes{
		width: 35%;
	}
	.article__lentes img{
		width: 100% ;
	}


	.div__VerMasProd{
		background-color: #E0A367;
		display: inline-block;
		padding:  0.75% 1% 0.25% 1%;
		width: auto;
		top: 0;
		z-index: 1;
	}
	
		section article div a p:hover{
			color: white;
		}


/*BEM PRODUCTOS*/

.section__anteojo--font{
	font-weight: 500;
	text-align: center;
	margin: 3% 1%;
}

.section__divAnteojos--margin{
	margin: 0% auto;
}
.section__modelosDimensiones--font{
	font-weight: 300;
	margin-left: 40%;
	margin-right: 5%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.section__ul--format{
	list-style-type: square;
	display: inline-block;
	text-align: center;
	margin: 2%;
	vertical-align: middle;
}

section article figure{
	margin: 4%;
	display: inline-block;
	width: 40%;
}
	section article figure img{
		width: 100%;
	}

/* BEM NOVEDADES*/ 

.article__newsletter--responsive{
	font-size: 5rem;
}
.fieldset__--margin{
	margin: 3% 25%;
	padding-top: 1%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
	.fieldset__div--margin{
		margin: 0 0 2% 2%;
	}
	.fieldset__input--padding{
			padding: 1%;
			width: 70%;
		}
	.fieldset__frecuencia--width{
		width: 33%;
	}
	
	.fieldset__txtArea textarea{
			width:  100%;
		}
	.fieldset__txtArea input{
		width: 45%;
		margin-bottom: 5%;
	}
.article__lentesNuevos{
	display: flex;
	justify-content: space-between;
}

/* BEM NOSOTROS */

.header__h2--hoverWhite:hover{
	color:  white;
}

.header__h2--margin{
	margin: 3% 0;
}

.article__h3{
	margin: 0 0 2% 5%;
}

.article__p{
	margin: 0 15%;
	text-align: justify;
	line-height: 3rem;
}

.section--flex{
	display: flex;
}

.figure__image--width{
	width: 100%;
	margin: 2% auto;
	height: 90%;
}

#override-boostrap .img--height{
	height: 70%;
}

.caption--marginTop{
	margin-top: 3%;
}
/* BEM FAQ */
.h1__size{
	font-size: 4rem;
	margin-top: 3%;
}

.article__h2--format{
	margin: 1% 5%;
}

#firstQuestion{
	margin-top: 4%;
}

.article__p--format{
	margin: 0 7% 3% 7%;
	text-align: justify;
	color: black;
}

#lastQuestion{
	margin-bottom: 5%;
}

/*FOOTER*/

.div__map--width{
	width: 50%;
}

.footer__div--margin{
	display: inline-block;
	margin-left: 3%;
	justify-content: flex-start;
}

.footer__divdiv--inlineblock{
	display: inline-block;
	justify-self: flex-start;
}

.footer__ul--margin{
	margin-top: 3%;
}

.footer__newsletter:hover{
	color: white;
}

.footer__a--width{
	width: 15%;
}

.footer__img--width{
	width: 29.5%;
	border-radius: 30px;
}

.footer__img--margin{
	margin: 3%;
	width: 15%;
}