//faq body-main, formato especifico del FAQ//

.h1__size{
	font-size: $Med2;
	margin-top: 3%;
}

.article__h2--format{
	margin: 1% 5%;
}

#firstQuestion{
	margin-top: 4%;
}

.article__p--format{
	margin: 0 7% 3% 7%;
	text-align: justify;
	color: $txtBlack;
}

#lastQuestion{
	margin-bottom: 5%;
}