//footer//

footer{
	margin-top: 2%;
	border-right: none;
	border-left: none;
	background-color: map-get($map:$bg,$key:'cinco');
	padding: 2%;
	font-size: $Small2;
	@include caja(flex,100%);
	footer div ul{
		list-style-type: none;
		padding-left:  1%;
	}
		footer ul li{
			color: white;
		}
	footer h4{
		margin-top: 3% ;
	}
}

@media (max-width: 768px){
	footer{
		margin-top: 5%;
		@include caja(block,auto);
	}
	footer div div ul li{
		font-size: 2rem;
		font-weight: 400;
	}
	footer div{
		font-size:  1.7rem;
	}
	.div__map--width{
		margin: 0 auto 3% auto;
		width: 200%;
	}

}

.div__map--width{
	width: 100%;
}

.footer__div--margin{
	display: inline-block;
	margin-left: 3%;
	justify-content: flex-start;
}

.footer__divdiv--inlineblock{
	display: inline-block;
	justify-self: flex-start;
}

.footer__ul--margin{
	margin-top: 3%;
}

.footer__newsletter{
	color: $txtBlack;
	font-size: $Med;
}

.footer__newsletter:hover{
	color: $txtWhite;
}

.footer__a--width{
	width: 15%;
}

.footer__img--width{
	width: 29.5%;
}

.footer__img--margin{
	margin: 3%;
	width: 15%;
	@extend .footer__ul--margin;
}