//variables// 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Yeseva+One&display=swap');

$fontMain: 'Open Sans', sans-serif;
$fontSpecial:'Yeseva One', sans-serif;

$Small: 1.5rem; 
$Small2: 2rem;
$Med: 2.5rem;
$Med2: 4rem;
$Big: 5rem;

$txtCenter: center;
$txtLeft: left;
$txtRight: right;

$txtWhite: white;
$txtBlack: black;

$bgBrown: #E0A367;
$bgWhite: white;
$bgBlack: black;
$bgNormal: transparent;
$bgGrey: grey;

$border: 2px block solid; 
$noneBorder:  none; 
$spBorder:  2px dashed #E0A367;

